.gd-figure {
  background-color: #565657 !important;
}

.gd-figure:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.gd-modal-target {
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.gd-modal-target:hover {
  opacity: 0.7;
}

.gd-modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content (image) */
.gd-modal-content {
  position: absolute;
  display: block;
  overflow: hidden;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.gd-modal-content.gd-modal-thumbnail {
  backdrop-filter: blur(5px);
  transition: opacity 0.75s ease-out;
  z-index: 10;
  opacity: 1;
}

.gd-modal-content.gd-modal-loaded.gd-modal-thumbnail {
  opacity: 0;
}

.gd-modal-close {
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 35px;
  color: #8a8a8a;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

@media only screen and (max-device-width: 800px) {
  .gd-modal-close {
    font-size: 90px;
  }
}

.gd-modal-close:hover,
.gd-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
