<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, 
          initial-scale=1.0" />
    <title>{{ .Title }}</title>
    {{ partial "gallerydeluxe/head.html" . }}
    {{ partial "head.html" . }}
  </head>

  <a class="logo" href="{{ site.Home.RelPermalink }}">
    {{ partial "logo.html" . }}
  </a>

  {{/* 'images' is a path to a leaf bundle with a index.md file and lots of JPG images. */}}
  {{ $gallery := partial "gallerydeluxe/init.html" (dict "sourcePath" "images") }}
  {{/* We currently only support 1 gallery per page, which is create4 by an element with id 'gallerydeluxe',
    and a valid data url.
  */}}
  <body id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}">
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
    </div>
  </body>
</html>
